%a__navigation__top-link {
    @extend %h__positioning__fullwidth--bottom;
    @extend %h__font__align--center;
    color: $b__color__main;
    font-size: 2em;
    height: 1em;
    overflow: hidden;
    z-index: 15;

    &::before {
        content: "^";
        display: block;
    }

}

#page > aside {
    @extend %reset;
    @extend %h__positioning__fullwidth--top;
    @extend %h__font--navigation;
    @extend %h__font__align--right;
    background: transparentize( $b__color__main--offset, .1 );
    color: $b__color__main;
    padding: 1.2em 1em 1.2em 17ex;
    z-index: 75;

    li, iframe, div {
        @extend %reset;
        display: inline-block;
    }

    > nav:not([class]), iframe, div {
        float: right;
    }

    [id*="plusone"] {
        position: relative;
        top: -2px;
    }

    // scss-lint:disable SelectorDepth
    > nav:not([class]) li {
        border-left: 1px solid $b__color__main;
        margin-left: .5em;
        padding-left: .5em;

        &:first-of-type {
            border: none;
        }
    }
    // scss-lint:enable SelectorDepth

}

// scss-lint:disable ImportantRule
.social iframe, .social > div {
    display: inline-block !important;
    margin: 0 0 -6px .5rem !important;
}
// scss-lint:enable ImportantRule
