---
title: Drop Down Menu
description: An experiment to show how to do menu's using CSS3 only.
tags: [js]
date: 2011-06-08
---

	<style type="text/css">
        .css3menu,
        .css3menu ul {
            margin: 0;
            list-style: none;
        }
        .css3menu a {
            display: block;
            text-decoration: none;
        }

        .css3menu {
        }

        .css3menu ul {
            padding: 0;
            position: absolute;
            top: 100%;
            left: 0%;
            width: 20ex;
            display: none;
        }

        .css3menu ul ul {
            top: 0;
            left: 100%;
            margin-left: -0.1em;
        }

        .css3menu li {
            position: relative;
            z-index: 5;
        }

        .css3menu li:hover {
            z-index: 10;
        }

        .css3menu li:hover > ul {
            display: block;
        }

        .css3menu > li {
            float: left;
            margin: 0 0.5em -0.5em;
            padding: 0 0 0.5em;
        }

        .css3menu > li > a {
            display: block;
        }

        .css3menu:after {
            content: ".";
            display: block;
            height: 0;
            widht: 0;
            overflow: hidden;
            visibility: hidden;
            clear: both;
        }
	</style>
	<style type="text/css">

        .rich,
        .rich ul {
            -webkit-box-shadow: 0.15em 0.15em 0.15em rgba( 0, 0, 0, 0.75 );
            -moz-box-shadow: 0.15em 0.15em 0.15em rgba( 0, 0, 0, 0.75 );
            -o-box-shadow: 0.15em 0.15em 0.15em rgba( 0, 0, 0, 0.75 );
            box-shadow: 0.15em 0.15em 0.15em rgba( 0, 0, 0, 0.75 );
        }
        .rich a {
            padding: 0 0.5em;
            color: #333;
        }

        .rich {
            background: #999;
            border: 0.1em solid #999;
            border-color: rgba( 221, 221, 221, 0.75 ) rgba( 128, 128, 128, 0.75 ) rgba( 128, 128, 128, 0.75 ) rgba( 221, 221, 221, 0.75 );
            padding: 0.4em 0.4em;
            border-radius: 1em;

            background-image: -moz-linear-gradient(top, #999 0%, #666 45%, #666 46%, #999 100%); /* firefox */
            background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999), to(#999999), color-stop(.45,#666666)); /* webkit */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666', endColorstr='#999',GradientType=0 ); /* ie */
        }

        .rich ul {
            border: 1px solid #333;
            border-radius: 0.5em;
        }

        .rich > li > a {
            border: 0.1em solid #DDD;
            border-color: rgba( 221, 221, 221, 0.75 ) rgba( 128, 128, 128, 0.75 ) rgba( 128, 128, 128, 0.75 ) rgba( 221, 221, 221, 0.75 );
            border-radius: 0.5em;
            background: #CCC;

            background-image: -moz-linear-gradient(top, #888 0%, #AAA 50%, #999 51%, #DDD 100%); /* firefox */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#888), color-stop(50%,#AAA), color-stop(51%,#999), color-stop(100%,#DDD)); /* webkit */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999', endColorstr='#DDD',GradientType=0 ); /* ie */
        }

        .rich > li > a:hover {
            background-image: -moz-linear-gradient(top, #AAA 0%, #CCC 50%, #BBB 51%, #FFF 100%); /* firefox */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#AAA), color-stop(50%,#CCC), color-stop(51%,#BBB), color-stop(100%,#FFF)); /* webkit */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BBB', endColorstr='#FFF',GradientType=0 ); /* ie */
        }

        .rich ul li a {
            background: #EEE;
        }

        .rich ul>li:first-child>a {
            border-radius: 0.5em 0.5em 0 0;
        }

        .rich ul>li:last-child>a {
            border-bottom-left-radius: 0.5em;
            border-bottom-right-radius: 0.5em;
        }

        .rich ul li a:hover {
            background: #99F;
        }

	</style>
	<style type="text/css">

        .osx {
            font-family: "Lucida Grande";
            font-size: 0.8em;
            padding: 0 1em;
            border: 1px solid #CCC;
            border-bottom-color: #333;
            border-width: 1px 0;

            background: #AAA; /* old browsers */
            background-image: -moz-linear-gradient(top, #AAA 18%, #888 100%); /* firefox */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#AAA), color-stop(100%,#888)); /* webkit */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#AAA', endColorstr='#777',GradientType=0 ); /* ie */
        }

        body.inactive .osx {
            border-top-color: #EEE;

            background: #DDD; /* old browsers */
            background-image: -moz-linear-gradient(top, #DDD 18%, #AAA 100%); /* firefox */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#DDD), color-stop(100%,#AAA)); /* webkit */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DDD', endColorstr='#AAA',GradientType=0 ); /* ie */
        }

        .osx ul {
            width: 25ex;
        }

        .osx > li {
            margin: 0 0 -1px;
            padding: 0 0 1px;
        }

        .osx > li > a {
            padding: 0.35em 0.5em;
        }

        .osx a {
            color: black;
        }

        .osx ul a {
            padding: 0 1.5em 0.1em;
            color: black;
            white-space: nowrap;
        }

        .osx ul {
            background: white;
            padding: 0.35em 0;
            border: 1px solid rgba(128,128,128,0.5);
            border-radius: 0.35em;
            -webkit-box-shadow: 0.15em 0.5em 1.5em rgba( 0, 0, 0, 0.65 );
            -moz-box-shadow: 0.15em 0.5em 2em rgba( 0, 0, 0, 0.5 );
            -o-box-shadow: 0.15em 0.5em 2em rgba( 0, 0, 0, 0.5 );
            box-shadow: 0.15em 0.5em 2em rgba( 0, 0, 0, 0.5 );
        }

        .osx ul ul {
            margin-top: -0.35em;
            margin-left: -1px;
            top: -1px;
        }

        .osx :hover > a {
            background: #777;
            color: white;

            background: #AAA; /* old browsers */
            background-image: -moz-linear-gradient(top, #787884 18%, #585864 100%); /* firefox */
            background-image: -webkit-gradient(linear, left top, left bottom, color-stop(18%,#787884), color-stop(100%,#585864)); /* webkit */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#787884', endColorstr='#585864',GradientType=0 ); /* ie */
        }

        .osx ul :hover > a {
            margin: 0 -1px;
            border: 1px solid rgba(32,32,32,0.25);
            border-width: 0 1px;
        }

        .osx > li ul {
            border-top-left-radius: 0;
        }

        .osx > li > ul {
            border-top-right-radius: 0;
        }

        #menu2:target {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
        }

	</style>
	<style type="text/css">

        .fadeboth :hover > ul {
            -webkit-transition: opacity 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            -moz-transition: opacity 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            -o-transition: opacity 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition: opacity 1000ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

            -webkit-transition-property: opacity, block;
            -moz-transition-property: opacity, block;
            -o-transition-property: opacity, block;
            transition-property: opacity, block;
        }

        .fadeboth > li ul {
            -webkit-transition: opacity 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            -moz-transition: opacity 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            -o-transition: opacity 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition: opacity 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

            -webkit-transition-property: opacity, block;
            -moz-transition-property: opacity, block;
            -o-transition-property: opacity, block;
            transition-property: opacity, block;
        }

        /*Pre-emptive display:block on the UL's in order to allow fade-effects to work.*/
        .fadeboth:hover > li > ul,
        .fadeboth li:hover > ul > li > ul {
            display: block;
        }

        .fadeboth ul {
            opacity: 0;
        }

        .fadeboth li:hover > ul {
            opacity: 1;
        }
    </style>
    <style type="text/css">

        .growboth :hover > ul,
        .growboth :hover > ul a {
            -webkit-transition: opacity 750ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            -moz-transition: opacity 750ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            -o-transition: opacity 750ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition: opacity 750ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

            -webkit-transition-property: width, height, padding;
            -moz-transition-property: width, height, padding;
            -o-transition-property: width, height, padding;
            transition-property: width, height, padding;
        }

        /*Pre-emptive display:block on the UL's in order to allow fade-effects to work.*/
        .growboth:hover > li > ul,
        .growboth li:hover > ul > li > ul {
            display: block;
        }

        .growboth ul {
            width: 0px;
            overflow: hidden;

        }

        .growboth li:hover > ul {
            width: 210px;
        }

        .growboth li > ul:hover {
            overflow: visible;
        }

        .growboth.osx ul {
            border: 0 none;
            -webkit-box-shadow: 0 0 0 black;
            -moz-box-shadow: 0 0 0 black;
            -o-box-shadow: 0 0 0 black;
            box-shadow: 0 0 0 black;
        }

        .growboth.osx li:hover > ul {
            border: 1px solid rgba(128,128,128,0.5);
            -webkit-box-shadow: 0.15em 0.5em 1.5em rgba( 0, 0, 0, 0.65 );
            -moz-box-shadow: 0.15em 0.5em 2em rgba( 0, 0, 0, 0.5 );
            -o-box-shadow: 0.15em 0.5em 2em rgba( 0, 0, 0, 0.5 );
            box-shadow: 0.15em 0.5em 2em rgba( 0, 0, 0, 0.5 );
        }

        .growboth.osx ul a {
            height: 0;
        }

        .growboth.osx li:hover > ul > li > a {
            height: 1.3em;
        }

    </style>

	<h1>CSS experimentations, DropdownMenu</h1>
	<p class="intro">Out of all the things CSS3 menu's can offer you, rounded corners must be among the most boring options they've added to the palette. Hence my boring rounded-corner, drop-shadow clone of all of them, but with the adition of what makes CSS3 menu's really cool (because the corners and drop-shadows could've been solved with really advanced background-image usage), transitions. Cause really, that's the one thing I believe was really lacking in pure CSS drop-downs, it's what'll make the managers happy and the users cry in frustration ;)</p>
    <p>This menu has not been improved to work with IE's limited CSS2 selectors, although this could easily be achieved. I had no interrest in doing so as for the purpose of this demonstration it is beside the point.</p>
    <h3>Menu 1</h3>
    <ul class="css3menu rich fadeboth">
        <li>
            <a href="#menuitem1">0 Levels</a>
        </li>
        <li>
            <a href="#menuitem1">1 Level</a>
            <ul>
                <li><a href="#menuitem1.1">Menu Item 1.1</a></li>
            </ul>
        </li>
        <li>
            <a href="#menuitem2">2 Levels</a>
            <ul>
                <li>
                    <a href="#menuitem2.1">Menu Item 2.1</a>
                    <ul>
                        <li><a href="#menuitem2.1.1">Menu Item 2.1.1</a></li>
                        <li><a href="#menuitem2.1.2">Menu Item 2.1.2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem2.2">Menu Item 2.2</a>
                    <ul>
                        <li><a href="#menuitem2.2.1">Menu Item 2.2.1</a></li>
                        <li><a href="#menuitem2.2.2">Menu Item 2.2.2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#menuitem3">3 Levels</a>
            <ul>
                <li>
                    <a href="#menuitem3.1">Menu Item 3.1</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.1.1">Menu Item 3.1.1</a>
                            <ul>
                                <li><a href="#menuitem3.1.1.1">Menu Item 3.1.1.1</a></li>
                                <li><a href="#menuitem3.1.1.2">Menu Item 3.1.1.2</a></li>
                                <li><a href="#menuitem3.1.1.3">Menu Item 3.1.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.1.2">Menu Item 3.1.2</a>
                            <ul>
                                <li><a href="#menuitem3.1.2.1">Menu Item 3.1.2.1</a></li>
                                <li><a href="#menuitem3.1.2.2">Menu Item 3.1.2.2</a></li>
                                <li><a href="#menuitem3.1.2.3">Menu Item 3.1.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.1.3">Menu Item 3.1.3</a>
                            <ul>
                                <li><a href="#menuitem3.1.3.1">Menu Item 3.1.3.1</a></li>
                                <li><a href="#menuitem3.1.3.2">Menu Item 3.1.3.2</a></li>
                                <li><a href="#menuitem3.1.3.3">Menu Item 3.1.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem3.2">Menu Item 3.2</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.2.1">Menu Item 3.2.1</a>
                            <ul>
                                <li><a href="#menuitem3.2.1.1">Menu Item 3.2.1.1</a></li>
                                <li><a href="#menuitem3.2.1.2">Menu Item 3.2.1.2</a></li>
                                <li><a href="#menuitem3.2.1.3">Menu Item 3.2.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.2.2">Menu Item 3.2.2</a>
                            <ul>
                                <li><a href="#menuitem3.2.2.1">Menu Item 3.2.2.1</a></li>
                                <li><a href="#menuitem3.2.2.2">Menu Item 3.2.2.2</a></li>
                                <li><a href="#menuitem3.2.2.3">Menu Item 3.2.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.2.3">Menu Item 3.2.3</a>
                            <ul>
                                <li><a href="#menuitem3.2.3.1">Menu Item 3.2.3.1</a></li>
                                <li><a href="#menuitem3.2.3.2">Menu Item 3.2.3.2</a></li>
                                <li><a href="#menuitem3.2.3.3">Menu Item 3.2.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem3.3">Menu Item 3.3</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.3.1">Menu Item 3.3.1</a>
                            <ul>
                                <li><a href="#menuitem3.3.1.1">Menu Item 3.3.1.1</a></li>
                                <li><a href="#menuitem3.3.1.2">Menu Item 3.3.1.2</a></li>
                                <li><a href="#menuitem3.3.1.3">Menu Item 3.3.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.3.2">Menu Item 3.3.2</a>
                            <ul>
                                <li><a href="#menuitem3.3.2.1">Menu Item 3.3.2.1</a></li>
                                <li><a href="#menuitem3.3.2.2">Menu Item 3.3.2.2</a></li>
                                <li><a href="#menuitem3.3.2.3">Menu Item 3.3.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.3.3">Menu Item 3.3.3</a>
                            <ul>
                                <li><a href="#menuitem3.3.3.1">Menu Item 3.3.3.1</a></li>
                                <li><a href="#menuitem3.3.3.2">Menu Item 3.3.3.2</a></li>
                                <li><a href="#menuitem3.3.3.3">Menu Item 3.3.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <p>This first example makes extensive use of CSS3 feature to 'spice' up the appearance, included are, 'border-radius', 'gradient', 'box-shadow' and 'transition'. In combination with some of these properties I've made use of CSS3 specific selector rules, most specifically :last-child, which I don't think existed in CSS2.1.</p>
    <p>During the creation of this example I ran into one major limitation with the use of transitions using showing/hiding of elements. Since the 'display' property switching between a hard yes/no value, transitions cannot deal with this. The fading in and out of menu's based solely on opacity becomes a tricky concept. Leaving all elements on 'display:block' while only using opacity to show/hide them would leave the menu's sitting on top of the content, accidental mouse-over revealing entire branches of your menu.</p>
    <p>I've resolved this to some satisfaction by 'pre-emptively' setting menu's to display:block with opacity:0. Essentially if the parent of the list-item is in a :hover state, the list of that list-item is set to block. This way the only lists that can be revealed by :hover state are those of equal level. This does impose a minimum of UI 'polution' but nothing easily noticeable, nor of negative impact on the useability. As opposed to setting all lists to display:block as soon as the root-level is in :hover state, which causes side-way mouse-out movement to mouse-in on a new navigation-branch!</p>
    <p>The only real down-side of this technique is that a mouse-out of the entire menu immediately switches of the entire branch, without transition. Until browsers become 'aware' of the display-property in transitions, this is the best possible scenario that I could come up with though.</p>
    <h4>On a side-note</h4>
    <p>Of possible interrest to know is that I tried to setup my CSS so that the 'basic' setup creates the menu behaviour while subsequent class-definitions on the root-element define the flavour and the texture. In other words, the theme is defined by a separate class-name and the transition also has a separate classname. I did this to be able to create some more flexibility in my menu's. I seem to use them occasionally and this way I hope to be able to reduce rewriting of the code over and again ;). Also I might be able to generate different transitions within this single page without too much copy-pasting...</p>
    <h3>Menu 2</h3>
    <ul id="menu2" class="css3menu osx">
        <li>
            <a href="#menuitem1">0 Levels</a>
        </li>
        <li id="menuitem1">
            <a href="#menuitem1">1 Level</a>
            <ul>
                <li><a href="#menuitem1.1">Menu Item 1.1</a></li>
            </ul>
        </li>
        <li id="menuitem2">
            <a href="#menuitem2">2 Levels</a>
            <ul>
                <li>
                    <a href="#menuitem2.1">Menu Item 2.1</a>
                    <ul>
                        <li><a href="#menuitem2.1.1">Menu Item 2.1.1</a></li>
                        <li><a href="#menuitem2.1.2">Menu Item 2.1.2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem2.2">Menu Item 2.2</a>
                    <ul>
                        <li><a href="#menuitem2.2.1">Menu Item 2.2.1</a></li>
                        <li><a href="#menuitem2.2.2">Menu Item 2.2.2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li id="menuitem3">
            <a href="#menuitem3">3 Levels</a>
            <ul>
                <li>
                    <a href="#menuitem3.1">Menu Item 3.1</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.1.1">Menu Item 3.1.1</a>
                            <ul>
                                <li><a href="#menuitem3.1.1.1">Menu Item 3.1.1.1</a></li>
                                <li><a href="#menuitem3.1.1.2">Menu Item 3.1.1.2</a></li>
                                <li><a href="#menuitem3.1.1.3">Menu Item 3.1.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.1.2">Menu Item 3.1.2</a>
                            <ul>
                                <li><a href="#menuitem3.1.2.1">Menu Item 3.1.2.1</a></li>
                                <li><a href="#menuitem3.1.2.2">Menu Item 3.1.2.2</a></li>
                                <li><a href="#menuitem3.1.2.3">Menu Item 3.1.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.1.3">Menu Item 3.1.3</a>
                            <ul>
                                <li><a href="#menuitem3.1.3.1">Menu Item 3.1.3.1</a></li>
                                <li><a href="#menuitem3.1.3.2">Menu Item 3.1.3.2</a></li>
                                <li><a href="#menuitem3.1.3.3">Menu Item 3.1.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem3.2">Menu Item 3.2</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.2.1">Menu Item 3.2.1</a>
                            <ul>
                                <li><a href="#menuitem3.2.1.1">Menu Item 3.2.1.1</a></li>
                                <li><a href="#menuitem3.2.1.2">Menu Item 3.2.1.2</a></li>
                                <li><a href="#menuitem3.2.1.3">Menu Item 3.2.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.2.2">Menu Item 3.2.2</a>
                            <ul>
                                <li><a href="#menuitem3.2.2.1">Menu Item 3.2.2.1</a></li>
                                <li><a href="#menuitem3.2.2.2">Menu Item 3.2.2.2</a></li>
                                <li><a href="#menuitem3.2.2.3">Menu Item 3.2.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.2.3">Menu Item 3.2.3</a>
                            <ul>
                                <li><a href="#menuitem3.2.3.1">Menu Item 3.2.3.1</a></li>
                                <li><a href="#menuitem3.2.3.2">Menu Item 3.2.3.2</a></li>
                                <li><a href="#menuitem3.2.3.3">Menu Item 3.2.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem3.3">Menu Item 3.3</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.3.1">Menu Item 3.3.1</a>
                            <ul>
                                <li><a href="#menuitem3.3.1.1">Menu Item 3.3.1.1</a></li>
                                <li><a href="#menuitem3.3.1.2">Menu Item 3.3.1.2</a></li>
                                <li><a href="#menuitem3.3.1.3">Menu Item 3.3.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.3.2">Menu Item 3.3.2</a>
                            <ul>
                                <li><a href="#menuitem3.3.2.1">Menu Item 3.3.2.1</a></li>
                                <li><a href="#menuitem3.3.2.2">Menu Item 3.3.2.2</a></li>
                                <li><a href="#menuitem3.3.2.3">Menu Item 3.3.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.3.3">Menu Item 3.3.3</a>
                            <ul>
                                <li><a href="#menuitem3.3.3.1">Menu Item 3.3.3.1</a></li>
                                <li><a href="#menuitem3.3.3.2">Menu Item 3.3.3.2</a></li>
                                <li><a href="#menuitem3.3.3.3">Menu Item 3.3.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <p>This second menu is far less exciting as far as CSS3 feature show-casing goes. I was just curious if I could make a menu looking a lot like the OSX default theme. Since (at least on my installation) there's actually no anoying faders at all, it is limited to some subtle use of gradients, boder-radius and box-shadows.</p>
    <p>For best possible effect this menu should be <a href="#menu2">stuck to the top of the page</a> and 100% width of the screen, ideally it should look like a menu inegrated to the browser. I predict a thouroughly confused user-base if you should ever do this though :).</p>
    <h3>Menu 3</h3>
    <ul class="css3menu osx growboth">
        <li>
            <a href="#menuitem1">0 Levels</a>
        </li>
        <li>
            <a href="#menuitem1">1 Level</a>
            <ul>
                <li><a href="#menuitem1.1">Menu Item 1.1</a></li>
            </ul>
        </li>
        <li>
            <a href="#menuitem2">2 Levels</a>
            <ul>
                <li>
                    <a href="#menuitem2.1">Menu Item 2.1</a>
                    <ul>
                        <li><a href="#menuitem2.1.1">Menu Item 2.1.1</a></li>
                        <li><a href="#menuitem2.1.2">Menu Item 2.1.2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem2.2">Menu Item 2.2</a>
                    <ul>
                        <li><a href="#menuitem2.2.1">Menu Item 2.2.1</a></li>
                        <li><a href="#menuitem2.2.2">Menu Item 2.2.2</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="#menuitem3">3 Levels</a>
            <ul>
                <li>
                    <a href="#menuitem3.1">Menu Item 3.1</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.1.1">Menu Item 3.1.1</a>
                            <ul>
                                <li><a href="#menuitem3.1.1.1">Menu Item 3.1.1.1</a></li>
                                <li><a href="#menuitem3.1.1.2">Menu Item 3.1.1.2</a></li>
                                <li><a href="#menuitem3.1.1.3">Menu Item 3.1.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.1.2">Menu Item 3.1.2</a>
                            <ul>
                                <li><a href="#menuitem3.1.2.1">Menu Item 3.1.2.1</a></li>
                                <li><a href="#menuitem3.1.2.2">Menu Item 3.1.2.2</a></li>
                                <li><a href="#menuitem3.1.2.3">Menu Item 3.1.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.1.3">Menu Item 3.1.3</a>
                            <ul>
                                <li><a href="#menuitem3.1.3.1">Menu Item 3.1.3.1</a></li>
                                <li><a href="#menuitem3.1.3.2">Menu Item 3.1.3.2</a></li>
                                <li><a href="#menuitem3.1.3.3">Menu Item 3.1.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem3.2">Menu Item 3.2</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.2.1">Menu Item 3.2.1</a>
                            <ul>
                                <li><a href="#menuitem3.2.1.1">Menu Item 3.2.1.1</a></li>
                                <li><a href="#menuitem3.2.1.2">Menu Item 3.2.1.2</a></li>
                                <li><a href="#menuitem3.2.1.3">Menu Item 3.2.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.2.2">Menu Item 3.2.2</a>
                            <ul>
                                <li><a href="#menuitem3.2.2.1">Menu Item 3.2.2.1</a></li>
                                <li><a href="#menuitem3.2.2.2">Menu Item 3.2.2.2</a></li>
                                <li><a href="#menuitem3.2.2.3">Menu Item 3.2.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.2.3">Menu Item 3.2.3</a>
                            <ul>
                                <li><a href="#menuitem3.2.3.1">Menu Item 3.2.3.1</a></li>
                                <li><a href="#menuitem3.2.3.2">Menu Item 3.2.3.2</a></li>
                                <li><a href="#menuitem3.2.3.3">Menu Item 3.2.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#menuitem3.3">Menu Item 3.3</a>
                    <ul>
                        <li>
                            <a href="#menuitem3.3.1">Menu Item 3.3.1</a>
                            <ul>
                                <li><a href="#menuitem3.3.1.1">Menu Item 3.3.1.1</a></li>
                                <li><a href="#menuitem3.3.1.2">Menu Item 3.3.1.2</a></li>
                                <li><a href="#menuitem3.3.1.3">Menu Item 3.3.1.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.3.2">Menu Item 3.3.2</a>
                            <ul>
                                <li><a href="#menuitem3.3.2.1">Menu Item 3.3.2.1</a></li>
                                <li><a href="#menuitem3.3.2.2">Menu Item 3.3.2.2</a></li>
                                <li><a href="#menuitem3.3.2.3">Menu Item 3.3.2.3</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#menuitem3.3.3">Menu Item 3.3.3</a>
                            <ul>
                                <li><a href="#menuitem3.3.3.1">Menu Item 3.3.3.1</a></li>
                                <li><a href="#menuitem3.3.3.2">Menu Item 3.3.3.2</a></li>
                                <li><a href="#menuitem3.3.3.3">Menu Item 3.3.3.3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
    <p>Although I had hoped to use the 'clip' property to make a growing/shrinking transition both the pain of working with 'clip' and the apparant lack of transition support have caused me to attempt to make use of the width/height properties instead. Here we run into the problem that browsers like to use absolute values. A transition between 0 and 'auto' is not an option :(. This makes height a serious problem that I can't see I'll overcome. Width is not so much an issue, we already have to provide a fixed width due to the nature of floats/absolute position working together.</p>
    <p>Even growing in height was achievable by throwing a transition on the actual &lt;a&gt; element height. This way all the menu-items grow from 0 to 1.3em height and it this effects appears quite acceptable to me. All of this for some 'cheap' transitions without attempting to resort to JavaScript.... It appears to me that none of the existing JavaScript libraries have cause to be worried ;) Transitions in CSS3 are lots of fun, but far from flexible enough to be a true work-horse.</p>

    <p><em>The following filler text was brought to you by <a href="http://lipsum.com/">Lipsum.com</a> and added to provide plenty of content below my menu's...</em></p>
    <div><div class="lc"><h2 class="what"><span>What is Lorem Ipsum?</span></h2><p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p></div><div class="rc"><h2 class="why"><span>Why do we use it?</span></h2><p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p></div></div>&nbsp;<div style="clear: both;"><div class="lc"><h2 class="where"><span>Where does it come from?</span></h2><p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p><p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p></div></div>
