%m__media {
    @extend %h__box-sizing__border-box;
    @extend %h__display__inline-block;
    margin-top: $b__whitespace--related;
    padding-left: $b__whitespace--sibling;
    vertical-align: top;
    width: 49.5%;
}

%m__media-list {
    @extend %reset;
    margin-left: -$b__whitespace--sibling;
}
