---
---
//Above lines should trigger jeckyl build.
%dummy {
    //This block is required to get SCSS-lint to pick up correct syntax after YAML header
    content: "satisfying scss-lint";
}

// scss-lint:disable NameFormat
$font_root: "../assets";
// scss-lint:enable NameFormat

@import "sasstricks/utils";
@import "sasstricks/fonts/social-coding";

@import "bosons";
@import "atoms";
@import "hadrons";
@import "molecules";

@import "syntax/general";
@import "syntax/css";
@import "syntax/javascript";

%lobotomized-owl {
    @extend %h__whitespace__margin--top;
}

html, body, h1, h2, h3, h4, a {
    @extend %reset;
}

h1 {
    @extend %h__header;
}

h2 {
    @extend %h__header__subhead;
}

h3 {
    @extend %h__header;
}

p {
    @extend %reset;

    * + & {
        @extend %lobotomized-owl;
    }
}

a {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }

    main & {
        color: $b__color__main--offset;
    }
}

* + * {
    @extend %lobotomized-owl;
}

// scss-lint:disable SelectorFormat

.topLink {
    @extend %a__navigation__top-link;
}

html, body {
    @extend %h__font__quattrocento;
    background-color: $b__color__main;
    height: 100%;
}

body::before {
    clear: both;
    content: "\a0 ";
    display: block;
    height: 4em;
    visibility: hidden;
    width: 0;
}

.has_Pinned::before {
    height: 100%;
    margin-bottom: 5em;
}

.has_Pinned main > article {
    margin-top: -5em;
    padding-top: 5em;
}

.pinned {
    @extend %reset;
    background-color: $b__color__shadow;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    ol {
        @extend %reset;
        height: 100%;
        width: 100%;
    }

    li {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 100% auto;
        height: 100%;
        opacity: .7;
        width: 100%;
    }

    li:first-of-type {
        background-image: url( "../images/home1.jpg" );
    }

    &::before {
        background-color: transparent;
        background-image: url( "../images/logo.png" );
        background-repeat: no-repeat;
        content: "\a0 ";
        display: block;
        height: 200px;
        left: 50%;
        margin: -100px 0 0 -250px;
        position: absolute;
        top: 50%;
        width: 500px;
        z-index: 10;
    }
}

.pinned_whitepaper,
.pinned_project,
.pinned_gmaps {

    &::before {
        height: 275px;
    }

    .pinned {

        &::before {
            top: 200px;
        }

        li:first-of-type {
            background-image: url( '//farm5.staticflickr.com/4241/34950475884_18bf8cdf76_k.jpg' );
        }

    }
}

.pinned_project .pinned li:first-of-type {
    background-image: url( '//farm5.staticflickr.com/4150/35782551175_49f0133fed_k.jpg' );
}

.pinned_gmaps .pinned li:first-of-type {
    background-image: url( '//farm5.staticflickr.com/8486/29698281456_8c80a7421b_k.jpg' );
}

@media screen and ( max-aspect-ratio: 3/2 ) {
    .pinned li {
        background-size: auto 100%;
    }
}

header,
main,
footer,
#page {
    position: relative;
    z-index: 50;
}

header {
    color: $b__color__main;
    left: 0;
    padding: 1em;
    position: fixed;
    top: 0;
    z-index: 100;

    &::before {
        @extend %social-coding;
        color: lighten( $b__color__alternate, 15% );
        content: "=";
        font-size: 1.5em;
        left: .05em;
        position: absolute;
        text-shadow: 0 0 1px rgba( $b__color__shadow, .2 );
        top: 1.1em;
    }

    > h1 {
        margin: 0;
    }
}

#page {
    background-color: $b__color__main;
    margin-bottom: 5em;
}

main {
    margin: 0 auto;
    max-width: 32rem;
    min-height: 100%;
    padding: 1em 16rem 3rem 1rem;
    z-index: 25;
}

.cat_whitepapers main {
    max-width: 47rem;
    padding-right: 1rem;

    img {
        margin: 0 auto;
        max-width: 100%;
    }
}

//WIP just cleaning up as best I can...

article > ul {
    @extend %m__media-list;
}

.media {
    @extend %m__media;

    > h3 > a::before {
        @extend %h__pseudo--before;
    }

    &.cat_projects > h3 > a::before {
        content: "`";
    }

    &.layout_redirect > h3 > a::after {
        content: " ~";
    }

    &.tag_js > h3 > a::before {
        content: "J";
    }

    &.tag_css > h3 > a::before {
        content: "C";
    }

    &.tag_html5 > h3 > a::before {
        content: "H";
    }

    &.tag_git > h3 > a::before {
        content: "i";
    }

    &.cat_whitepapers > h3 > a::before {
        content: "\"";
    }

    &.tag_project > h3 > a::before {
        content: "`";
    }

}

ol {
    @extend %clearFloat;
    list-style: none;
    margin: 0 0 1.5em;
    padding: 0;
}

label {
    display: block;
    margin-bottom: .5em;
    margin-top: .75em;
}

[type="text"], [type="email"], textarea {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 1em;
    padding: .5em 1em;
    width: 100%;
}

[type="submit"] {
    background-color: $b__color__main--offset;
    border-color: $b__color__main--offset;
    border-radius: .2em;
    box-shadow: 0 0 .1em rgba( 0, 0, 0, .25 ), 0 .1em .2em rgba( 0, 0, 0, .25 );
    color: $b__color__main;
    display: inline-block;
    float: right;
    font-size: 1em;
    line-height: 1;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

[type="text"], [type="email"], [type="submit"], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    border: .1em solid $b__color__main--offset;

    &:focus {
        box-shadow: 0 0 .5em rgba( 255, 0, 0, 1 );
        outline: none;
    }

}

footer {
    color: $b__color__alternate;
    padding: 0 1em 1em;
    position: absolute;
    right: 0;
    text-align: right;
    text-shadow: 0 0 .5em transparentize( $b__color__main, .3 );
    top: 100%;

    span {
        display: block;
    }
}

.touch {
    display: none;
}

@media screen and ( max-width: 50rem ) {
    aside .social {
        bottom: .25rem;
        left: 0;
        position: fixed;
        right: auto;
        top: auto;
    }
}

@media screen and ( max-width: 40rem ) {
    main {
        padding-right: 1em;
    }

    header {
        &::before {
            text-shadow: .05em .05em .35em rgba( $b__color__shadow, .25 );
        }

        a {
            text-shadow: 0 0 .5em rgba( yellow, .25 );
            color: $b__color__main--offset;
        }
    }

    #page > aside {
        background: none;
    }

    .touch {
        display: block;
    }

    .pinned::before {
        background-size: 100% auto;
        height: 100px;
        margin: -50px 0 0 -125px;
        width: 250px;
    }

    #page > aside {
        > nav:first-child {
            background: transparentize( $b__color__main--offset, .1 );
            bottom: 0;
            left: auto;
            margin-right: -10em;
            overflow: auto;
            padding-bottom: 2em;
            padding: 1em;
            position: fixed;
            right: 0;
            top: 0;
        }

        li {
            border: none;
            display: block;
        }

        .openNav a {
            height: 1em;
            overflow: hidden;
            padding: 1em;
            position: fixed;
            right: 0;
            top: 0;
            white-space: nowrap;
            width: 1em;
            z-index: 100;

            &::before {
                box-shadow: 0 .25em 0 $b__color__main,
                            0 .55em 0 $b__color__main,
                            0 .85em 0 $b__color__main,
                            0 .3em .15em rgba( $b__color__shadow, .5 ),
                            0 .6em .15em rgba( $b__color__shadow, .5 ),
                            0 .9em .15em rgba( $b__color__shadow, .5 )
                ;
                content: "\a0 ";
                display: inline-block;
                height: .1em;
                margin-right: 2em;
                width: .65em;
            }
        }

        .closeNav {
            display: none;
        }

        &:target {
            > nav:first-child {
                margin-right: 0;
            }

            .openNav a {
                display: none;
            }

            .closeNav {
                display: block;
            }

            .closeNav a {
                bottom: 0;
                height: 2em;
                left: auto;
                overflow: hidden;
                position: fixed;
                right: 0;
                top: auto;
                white-space: nowrap;
                width: 2em;

                &::before {
                    content: ">";
                    display: inline-block;
                    margin-right: 2em;
                }
            }
        }
    }

    .media {
        border-top: 1px solid $b__color__main--offset;
        display: block;
        padding-top: 1em;
        width: auto;
    }

    [id*="_comments_"] {
        display: none !important;
    }
}
