---
---
%dummy {
    //This block is required to get SCSS-lint to pick up correct syntax after YAML header
    content: "satisfying scss-lint";
}
//Above lines should trigger jeckyl build.
@import url(https://fonts.googleapis.com/css?family=Quattrocento);

$c-main: #FFF8F1;
$c-offset: #FF0000;
$c-alternate: #888888;
$font_root: "../assets";

@import "sasstricks/utils";
@import "sasstricks/fonts/social-coding";

@import "syntax/general";
@import "syntax/css";
@import "syntax/javascript";

html, body, h1, h2, h3, h4, a {
    @extend %reset;
}

h1, h2, h3, h4 {
    font-family: "TeenLight-Regular";
}

h2 {
    font-size: 1.2em;
}

body {
    margin-left: 1.5rem;
}

a {
    article &::after {
        content: " (" attr(href) ")";
        font-size: 0.9em;
        opacity: 0.6;
    }
    main & {
        color: $c-offset;
    }
}

header a::before {
    content: "=";
    font-family: social-coding;
    margin-left: -0.6rem;
    margin-right: -0.9rem;
    position: relative;
    top: 0.7rem;
}
header {
    margin-bottom: 2em;
}

#page > aside,
body > .pinned {
    display: none;
}

footer {
    text-align: right;
    margin-top: 2em;
    font-size: 0.9em;
}
