---
title: 3D Bedroom color swatches
description: An experiment to experiment with 3D transformations and colors.
tags: [experiment, css]
date: 2011-06-20
---
<p class="intro">Some of the fun of CSS3 is that it is actually unfinished! However, pushing the boundaries can make up for some really fun implementations. Keeping in mind progressive enhancement and 3D transforms are a fun playground...</p>
<h3>Making a box</h3>
<div id="topangle" class="overlay">
    <div id="angle1" class="overlay">
        <div id="angle2" class="overlay">
            <div id="angle3" class="overlay">
                <div id="angle4" class="overlay">
                    <div class="box">
                        <div class="subface subface1">
                            <div class="face face1">roof</div>
                            <div class="face face2">back
                                <span class="window">Window</span>
                            </div>
                        </div>
                        <div class="face face3">3
                            <span class="door">Door</span>
                        </div>
                        <div class="face face4">floor</div>
                        <div class="face face5">5</div>
                        <div class="face face6">6</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p><a id="kulerLink" href="http://kuler.adobe.com/#themeID/252428">http://kuler.adobe.com/#themeID/</a> <a href="#topangle" onclick="return setColors(252428);">252428</a> <a href="#topangle" onclick="return setColors(342618);">342618</a> <a href="#topangle" onclick="return setColors(919359);">919359</a> <a href="#topangle" onclick="return setColors(935486);">935486</a> <a href="#topangle" onclick="return setColors(633636);">633636</a> <a href="#topangle" onclick="return setColors(6336362);">633636b</a> <a href="#topangle" onclick="return setColors(484640);">484640</a></p>
<p><a href="#topangle">Top</a> <a href="#angle1">Angle 1</a> <a href="#angle2">Angle 2</a> <a href="#angle3">Angle 3</a> <a href="#angle4">Angle 4</a></p>


<!-- "Video For Everybody" by Kroc Camen. see <camendesign.com/code/video_for_everybody> for documented code
=================================================================================================================== -->
<video width="640" height="480" controls>
	<source src="/assets/video/3DRoomColors.m4v"  type="video/mp4"  /><!-- WebKit video    -->
	<source src="/assets/video/3DRoomColors.webm" type="video/webm" /><!-- WebM/VP8/Vorbis -->
	<object width="640" height="480" type="application/x-shockwave-flash" data="http://www.youtube.com/v/-QjGHmi23wo">
		<param name="movie" value="http://www.youtube.com/v/-QjGHmi23wo" />
		<!-- fallback image -->
		<img src="/images/video/3DRoomColors.png" width="640" height="480" alt="3D Cube in CSS3"
		     title="No video playback capabilities, please download the video below" />
	</object>
</video>
<p>	<strong>Download Video:</strong>
	Closed Format: <a href="/assets/video/3DRoomColors.m4v">"MP4"</a>
	Open Format: <a href="/assets/video/3DRoomColors.webm">"WebM"</a>
    3rd party: <a href="http://www.youtube.com/watch?v=mBks7ckUGeE">"YouTube"</a>
</p>
<!-- =================================================================================================================== -->

<style type="text/css">
	.box {
		font-size: 175%;
		background: transparent; /*url(slaapkamer/eiken2.png);*/
		border-radius: 0.5em;
		margin: 1em auto 5em;
		padding: 1em;
		width: 18em;
	}
	.face {
		color: silver;
		background: rgba(128, 128, 128, 0.5);
		padding: 1em;
		width: 16em;
		line-height: 16em;
		vertical-align: middle;
		text-align: center;
		float:left;
		position: relative;
	}.box,.face,.subface1,.door,.window{
		-webkit-transition: all 1s ease-out;
	}



	.face2, .face6 {
		line-height: 12em;
	}
	.face3, .face5 {
		width: 12em;
	}



	.face1 {
		clear: left;
	}
	.face1, .face2 {
		margin: 0 auto;
	}
	.subface1 {
		margin-top: -30em;
	}
	.face3 {
		clear:left;
		margin-left: -14em;
	}
	.face5 {
		margin-right: -14em;
	}
	.face6 {
		margin-bottom: -14em;
	}


	.face2 .window {
		position: absolute;
		width: 10em;
		line-height: 8em;
		top: 3em;
		right: 2em;
		background: white;
		border: 0.5em solid silver;
	}
	.face3 .door {
		position: absolute;
		width: 10em;
		line-height: 5em;
		bottom: 1em;
		right: 0em;
		background: white;
		border: 0.5em solid silver;
		border-right-width: 0;
	}


	.box:after,
	.subface:after {
		content: ".";
		display: block;
		clear: both;
		width: 0;
		height: 0;
		overflow: hidden;
		visibility: hidden;
	}
</style>
<style type="text/css">
	#topangle {
		-webkit-perspective: 1500;
	}
	.box,.subface {
		-webkit-transform-style: preserve-3d;
	}
	.subface1 {
		-webkit-transform-origin: 50% 100% 0;
		-webkit-transform: rotateX(-90deg);
	}
	.face1 {
		-webkit-transform-origin: 50% 100% 0;
		-webkit-transform: rotateX(-90deg);
	}
	.face3 {
		-webkit-transform-origin: 100% 50% 0;
		-webkit-transform: rotateY(90deg);
	}
	.face5 {
		-webkit-transform-origin: 0% 50% 0;
		-webkit-transform: rotateY(-90deg);
	}
	.face6 {
		-webkit-transform-origin: 50% 0% 0;
		-webkit-transform: rotateX(90deg);
	}
</style>
<style type="text/css">

	.box {
		-webkit-transform-origin: 50% 50% 0;
	}

	#angle1:target .box {
		-webkit-transform: translate3d(0em, 8em, 0em) rotateX(90deg);
	}

	#topangle:target .face1,
	#angle1:target .face6,
	#angle2:target .face5,
	#angle3:target .face2,
	#angle4:target .face3 {
		opacity: 0;
	}

	#angle2:target .box {
		-webkit-transform: translate3d(0em, 8em, 0em) rotateX(90deg) rotateZ(90deg);
	}

	#angle3:target .box {
		-webkit-transform: translate3d(0em, 8em, 0em) rotateX(90deg) rotateZ(180deg);
	}

	#angle4:target .box {
		-webkit-transform: translate3d(0em, 8em, 0em) rotateX(90deg) rotateZ(270deg);
	}

	.face4 {
		background: url(slaapkamer/eiken2.png);
	}

</style>
<style type="text/css">

	.t252428 .face2,
	.t252428 .face5,
	.t252428 .face6 {
		background: rgba(115,97,81,1);
	}

	.t252428 .face1 {
		background: rgba(217,200,180,1);
	}

	.t252428 .face3 {
		background: rgba(36,37,42,1);
	}

	.t252428 .door {
		border-color: rgba(115,97,81,1);
		background: rgba(36,37,42,1);
	}

	.t252428 .window {
		border-color: rgba(36,37,42,1);
	}

</style>
<style type="text/css">

	.t342618 .face2,
	.t342618 .face6 {
		background: rgba(157,128,90,1);
	}

	.t342618 .face1 {
		background: rgba(255,230,1971,);
	}

	.t342618 .face5,
	.t342618 .face3 {
		background: rgba(75,128,158,1);
	}

	.t342618 .door {
		border-color: rgba(157,128,90,1);
		background: rgba(75,128,158,1);
	}

	.t342618 .window {
		border-color: rgba(75,128,158,1);
	}

</style>
<style type="text/css">

	.t919359 .face2,
	.t919359 .face5,
	.t919359 .face6 {
		background: rgba(89,52,30,1);
	}

	.t919359 .face1 {
		background: rgba(166,130,99,1);
	}

	.t919359 .face5,
	.t919359 .face3 {
		background: rgba(38,38,38,1);
	}

	.t919359 .door {
		border-color: rgba(89,52,30,1);
		background: rgba(38,38,38,1);
	}

	.t919359 .window {
		border-color: rgba(38,38,38,1);
	}

</style>
<style type="text/css">

	.t935486 .face2,
	.t935486 .face5,
	.t935486 .face6 {
		background: rgba(219,211,178,1);
	}

	.t935486 .face1 {
		background: white;
	}

	.t935486 .face5,
	.t935486 .face3 {
		background: rgba(0,40,66,1);
	}

	.t935486 .door {
		border-color: rgba(219,211,178,1);
		background: rgba(0,40,66,1);
	}

	.t935486 .window {
		border-color: rgba(0,40,66,1);
	}

</style>
<style type="text/css">

	.t633636 .face2,
	.t633636 .face5,
	.t633636 .face6 {
		background: rgba(89,70,46,1);
	}

	.t633636 .face1 {
		background: white;
	}

	.t633636 .face5,
	.t633636 .face3 {
		background: rgba(38,21,1,1);
	}

	.t633636 .door {
		border-color: rgba(38,38,38,1);
		background: rgba(13,8,0,1);
	}

	.t633636 .window {
		border-color: rgba(38,38,38,1);
	}

</style>
<style type="text/css">

	.t6336362 .face2,
	.t6336362 .face5,
	.t6336362 .face6 {
		background: rgba(89,70,46,1);
	}

	.t6336362 .face1 {
		background: white;
	}

	.t6336362 .face5,
	.t6336362 .face3 {
		background: rgba(13,8,0,1);
	}

	.t6336362 .door {
		border-color: rgba(89,70,46,1);
		background: rgba(13,8,0,1);
	}

	.t6336362 .window {
		border-color: rgba(13,8,0,1);
	}

</style>
<style type="text/css">

	.t484640 .face2,
	.t484640 .face6 {
		background: rgba(61,51,34,1);
	}

	.t484640 .face1 {
		background: white;
	}

	.t484640 .face5,
	.t484640 .face3 {
		background: rgba(36,35,29,1);
	}

	.t484640 .door {
		border-color: rgba(170,173,101,1);
		background: rgba(61,51,34,1);
	}

	.t484640 .window {
		border-color: rgba(170,173,101,1);
	}

</style>

<script type="text/javascript">
	var setColors = (function(body) {
		body.className += " t252428";

		return function setColors(themeID) {
			var b = body;
			b.className = b.className.replace(/\bt[0-9]+[a-d]?\b/gi, "t" + themeID);
			var l = document.getElementById("kulerLink");
			l.href = l.href.replace(/[0-9]+[a-d]?/, themeID);
			return false;
		}
	})(document.getElementsByTagName("body")[0]);
</script>
