---
title: CSS Animation
tags: [experiment, css]
date: 2011-06-25
---

<p class="intro">Shamelessly falling behind the times, a good friend of mine pointed out to me that FireFox 5 introduced CSS animation to the Mozilla framework. And with webkit already supporting this awesome tech, I couldn't let this go by without creating a tech-demo</p>
<h2>Animation 101</h2>
<p>The big question is of course, what will I animate?!? So I started by looking through google for some 8-bit sprites to animate around with. Perhaps not the most real-world applicable examples, but I've been dying to play around with something like this :)</p>
<div class="box attempt1">

	<div class="sprite walking"></div>

</div>
<p>Well, that was not what I meant to do, but that's because I was being an idiot!! Although it perfectly show what can be done on background, I suppose, there is the small disadvantage that it always 'smoothly' rolls back to the start?</p>
<div class="box">

	<div class="floor"></div>

</div>
<p>Testing to see if I can cheat my way out of smooth transitions!!</p>
<div class="box cheat">

	<div class="sprite walking"></div>

</div>
<p>Combining the cheated sprite with the moving floor</p>
<div class="box cheat">

	<div class="sprite walking"></div>
	<div class="floor"></div>

</div>
<p>And now something interactive :) Click on the worm to make it jump! From the CSS-animations perspective, this is a cool demo because it uses 'animation-direction' set to 'alternate' in which it runs every other cycle in reverse order. In case of this jump the cycle only describes jumping up, the alternate reverse cycle simply reverses going up...</p>
<div class="box cheat jump" id="jump">

	<a class="sprite" href="#jump">W</a>

</div>
<h2>Conclusion</h2>
<p>Using sprites with key-frames isn't what animations were meant for. Essentially CSS3 animation is the next step in transitions, this time with more programmable steps. So for a series of transitions CSS animationis an awesome solution, for html5-games we still have to cheat, or use javascript, although I intend to test a few <a href="#TBD">alternate methods</a> before giving up!</p>
<p>FireFox 5 goes into play as the second major browser with support for animation. Since all animation types I've tested so far work without diffirentiation, I'm quite happy. There are clouds in the sky though, for some unfathomable reason FF does not support the short-hand notation, forcing me to write the animation in separate properties for mozilla, which easily goes up to 4 or 5 lines of CSS-code, where a single line would have done...</p>

<!-- "Video For Everybody" by Kroc Camen. see <camendesign.com/code/video_for_everybody> for documented code
=================================================================================================================== -->
<video width="640" height="480" controls>
	<source src="/assets/video/CSSAnimWorms.m4v"  type="video/mp4"  /><!-- WebKit video    -->
	<source src="/assets/video/CSSAnimWorms.webm" type="video/webm" /><!-- WebM/VP8/Vorbis -->
	<object width="640" height="480" type="application/x-shockwave-flash" data="http://www.youtube.com/v/-QjGHmi23wo">
		<param name="movie" value="http://www.youtube.com/v/-QjGHmi23wo" />
		<!-- fallback image -->
		<img src="/images/video/CSSAnimWorms.jpg" width="640" height="480" alt="3D Cube in CSS3"
		     title="No video playback capabilities, please download the video below" />
	</object>
</video>
<p>	<strong>Download Video:</strong>
	Closed Format: <a href="/assets/video/CSSAnimWorms.m4v">"MP4"</a>
	Open Format: <a href="/assets/video/CSSAnimWorms.webm">"WebM"</a>
    3rd party: <a href="http://www.youtube.com/watch?v=-QjGHmi23wo">"YouTube"</a>
</p>
<!-- =================================================================================================================== -->

<style type="text/css">

    .sprite {
        display: block;
        width: 24px;
        height: 24px;
        background: transparent url(/projects/cssrepository/sprites/worm-walk.gif) no-repeat 0 0;
        text-indent: -100em;
        overflow: hidden;
    }

    .floor {
        width: 170px;
        height: 16px;
        background: transparent url(/projects/cssrepository/sprites/grassy.gif) repeat-x 0 0;
    }

    .jump {
        padding-top: 15em;
        margin-top: -15em;
    }

    .jump:target .sprite {
        background: transparent url(/projects/cssrepository/sprites/worm-jump.gif) no-repeat 0 0;
    }

</style>

<!-- Webkit styles for animations -->
<style type="text/css">
    .attempt1 .sprite.walking {
        -webkit-animation: worm-walk 3s linear 0 infinite normal;
    }

    .cheat .sprite.walking {
        -webkit-animation: worm-walk-cheat 1s linear 0 infinite normal;
    }

    @-webkit-keyframes worm-walk {
        0% {
            background-position: 0 0;
        }
        25% {
            background-position: -24px 0;
        }
        50% {
            background-position: -48px 0;
        }
        75% {
            background-position: -76px 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    @-webkit-keyframes worm-walk-cheat {
        0% {
            background-position: 0 0;
        }
        19% {
            background-position: 0 0;
        }
        20% {
            background-position: -24px 0;
        }
        39% {
            background-position: -24px 0;
        }
        40% {
            background-position: -48px 0;
        }
        59% {
            background-position: -48px 0;
        }
        60% {
            background-position: -76px 0;
        }
        100% {
            background-position: -76px 0;
        }
    }

    .jump:target .sprite {
        position: relative;
        -webkit-animation: wormJumpCheat 1s linear 0 2 alternate;
        -moz-animation: wormJumpCheat 1s linear 0 2 alternate;
    }

    @-webkit-keyframes wormJumpCheat {
        0% {
            background-position: 0 0;
            bottom: 0;
        }
        9% {
            background-position: 0 0;
        }
        10% {
            background-position: -24px 0;
        }
        24% {
            background-position: -24px 0;
            bottom: 0;
        }
        25% {
            background-position: -48px 0;
        }
        49% {
            background-position: -48px 0;
        }
        50% {
            bottom: 2em;
            background-position: -75px 0;
        }
        100% {
            bottom: 2em;
            background-position: -75px 0;
        }
    }

    .floor {
        -webkit-animation: threadmill 2s linear 0 infinite normal;
    }

    @-webkit-keyframes threadmill {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -17px 0;
        }
    }

    @-moz-keyframes threadmill {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -17px 0;
        }
    }


</style>

<!-- Mozilla styles for animations -->
<style type="text/css">

    .cheat .sprite.walking {
        -moz-animation-duration: 1s;
        -moz-animation-name: worm-walk-cheat;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
    }

    @-moz-keyframes worm-walk-cheat {
        0% {
            background-position: 0 0;
        }
        19% {
            background-position: 0 0;
        }
        20% {
            background-position: -24px 0;
        }
        39% {
            background-position: -24px 0;
        }
        40% {
            background-position: -48px 0;
        }
        59% {
            background-position: -48px 0;
        }
        60% {
            background-position: -76px 0;
        }
        100% {
            background-position: -76px 0;
        }
    }

    .jump:target .sprite {
        position: relative;
        -moz-animation-duration: 1s;
        -moz-animation-name: wormJumpCheat;
        -moz-animation-iteration-count: 2;
        -moz-animation-timing-function: linear;
        -moz-animation-direction: alternate;
    }

    @-moz-keyframes wormJumpCheat {
        0% {
            background-position: 0 0;
            bottom: 0;
        }
        9% {
            background-position: 0 0;
        }
        10% {
            background-position: -24px 0;
        }
        24% {
            background-position: -24px 0;
            bottom: 0;
        }
        25% {
            background-position: -48px 0;
        }
        49% {
            background-position: -48px 0;
        }
        50% {
            bottom: 2em;
            background-position: -75px 0;
        }
        100% {
            bottom: 2em;
            background-position: -75px 0;
        }
    }

    .floor {
        -moz-animation-duration: 2s;
        -moz-animation-name: threadmill;
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
    }

    @-moz-keyframes threadmill {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -17px 0;
        }
    }

</style>

<!-- Generic styles for animations -->
<style type="text/css">
    .attempt1 .sprite.walking {
        animation: worm-walk 3s linear 0s infinite normal;
    }

    .cheat .sprite.walking {
        animation: worm-walk-cheat 1s linear 0s infinite normal;
    }

    @keyframes worm-walk {
        0% {
            background-position: 0 0;
        }
        25% {
            background-position: -24px 0;
        }
        50% {
            background-position: -48px 0;
        }
        75% {
            background-position: -76px 0;
        }
        100% {
            background-position: 0 0;
        }
    }

    @keyframes worm-walk-cheat {
        0% {
            background-position: 0 0;
        }
        19% {
            background-position: 0 0;
        }
        20% {
            background-position: -24px 0;
        }
        39% {
            background-position: -24px 0;
        }
        40% {
            background-position: -48px 0;
        }
        59% {
            background-position: -48px 0;
        }
        60% {
            background-position: -76px 0;
        }
        100% {
            background-position: -76px 0;
        }
    }

    .jump:target .sprite {
        position: relative;
        -webkit-animation: wormJumpCheat 1s linear 0s 2 alternate;
        -moz-animation: wormJumpCheat 1s linear 0s 2 alternate;
        animation: wormJumpCheat 1s linear 0s 2 alternate;
    }

    @keyframes wormJumpCheat {
        0% {
            background-position: 0 0;
            bottom: 0;
        }
        9% {
            background-position: 0 0;
        }
        10% {
            background-position: -24px 0;
        }
        24% {
            background-position: -24px 0;
            bottom: 0;
        }
        25% {
            background-position: -48px 0;
        }
        49% {
            background-position: -48px 0;
        }
        50% {
            bottom: 2em;
            background-position: -75px 0;
        }
        100% {
            bottom: 2em;
            background-position: -75px 0;
        }
    }

    .floor {
        animation: threadmill 2s linear 0s infinite normal;
    }

    @keyframes threadmill {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -17px 0;
        }
    }

    @-moz-keyframes threadmill {
        0% {
            background-position: 0 0;
        }
        100% {
            background-position: -17px 0;
        }
    }


</style>
