---
title: Parallax without Javascript
description: An experiment to show how to do parallax with as little javascript as possible.
tags: [experiment, css]
date: 2012-01-12
---
	<p class="intro">Parallax is probably one of the oldest (fake) 3D perspectives in use on computers, I wanted to take it on in a slightly novell way, with a minimum of javascript and as much power out of CSS as I can. However, I also wanted it to react on the mouse, not so much scrolling around...</p>
	<p>It took me quite a bit of brain-bending to figure out a potential way of doing this. The concept I want to test is using a placement of the images based on a relative measurement, with the size of the images as an absolute measurement. By then changing the size of the relative unit, the images should displace themselves, right?</p>
	<p>In terms of CSS this would mean I would have to do placement based on EM's, since I can alter the size of 1 EM by setting the font-size to a different pixelf-format. Also by starting out at (for instance) 100px/em, it is relatively easy to line up the images correctly...</p>
	<h3>Test Case 1</h3>
	<p>For my first attempt I'll be using two semi-transparent boxes. That way their placement in relation to each other will be obvious and I won't have to (potentially) waste time on slicing up a cool looking picture :)</p>
	<div class="case1 test1"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<div class="case1 test2"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<div class="case1 test3"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<p>At this point in time I must say I was a litte disappointed with my own stupidity. The twist I was looking for is still there in my mind, waiting to be put into code... This wasn't it. Clearly if you change the value of em's for one level, and then modify the position to match with the first level, nomatter how far you manipulate the parent body, the child-values will scale with it...</p>
	<p>However, I think I'm on the right path, just using the wrong end-solution. As I mentioned, the 'twist' is waiting to be unlocked in code!! Essentially the difference in relative size is important for my trick to work. But I forgot to work into it the absolute measurement...</p>
	<h3>Test Case 2</h3>
	<p>So, keeping the same offset in em's while correcting the difference in pixels should do as I intended :) This also should include the width and height in absolute measurements...</p>
	<div class="case2 test1"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<div class="case2 test2"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<div class="case2 test3"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<p>This attempt made me both happy and sad at the same time!! Why? Well, the answer is quite simple. My goal was to mimic some of the more subdued, but ultimately cool error-pages at github (among others). Here moving the mouse sideways and/or up and down will alter the view-point parallax style. However, the solution I just dreamed up will either modify both vertical and horizontal, or only 1 of the 2. I cannot, currently, foresee an option that can do both individually :(</p>
	<p>This unfortunately means I will have to script it all the way, which isn't such a bad thing, just not quite what I had hoped...</p>
	<h3>Test Case 3</h3>
	<h4>Too stubborn for my own good ;)</h4>
	<p>Not quite ready to throw in the towel, here's for an attempt using parent-size modification, floating, relative position, percentile margin and anythin else I can deam up!!!</p>
	<div class="case3 test1"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<div class="case3 test2"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<div class="case3 test3"><div><span>Background</span></div><div><span>Foreground</span></div></div>
	<p>Obviously, when I said I could not foresee a solution in which I could modify either the horizontal, or the vertical, I must have been lying :). While having been able to come up with a completely different modifier, all that remains now, is to combine both solutions into one test case.</p>
	<h3>Test Case 4</h3>
	<p>In this final test-case I hope to combine the parent-size solution with the parent-font-size solution to be able to manipulate the horizontal and vertical offset individually, thus having a solution that could potentially do parallax view-point manipulation with incredibally simple javascript math!!!</p>
	<p>Scratch that, the font-size concept is a tougher concept than the percentile margin-offset (that is, I have to double-check how that works vertically, I can recall some issues with that, we'll see...)</p>
	<div class="case4 test1 viewport"><div class="canvas"><div><span>Foreground</span></div><div><span>Background</span></div></div></div>
	<div class="case4 test2 viewport"><div class="canvas"><div><span>Foreground</span></div><div><span>Background</span></div></div></div>
	<div class="case4 test3 viewport"><div class="canvas"><div><span>Foreground</span></div><div><span>Background</span></div></div></div>
	<p>&nbsp;</p>
	<div class="case4 test4 viewport"><div class="canvas"><div><span>Foreground</span></div><div><span>Background</span></div></div></div>
	<div class="case4 test5 viewport"><div class="canvas"><div><span>Foreground</span></div><div><span>Background</span></div></div></div>
	<div class="case4 test6 viewport"><div class="canvas"><div><span>Foreground</span></div><div><span>Background</span></div></div></div>
	<p>That's looking like a tremendously promising result!! To be able to work with more dramatic shifts in parallax I used a 1000px 'canvas' and based my parallax layers based on those dimensions. All I needed to take into account is that changing the size of the canvas will also shift the position of the center, which we need to counter-act by changing the centering of the canvas in relation to its' parent viewport. At first I was using the left/top properties but came to realise it'll be more comfortable by far to alter the margin-top/margin-left since they are simply the height/width in halve...</p>
	<h3>Test Case 5</h3>
	<p>A colleague all but challenged me to create a mouse-over parallax shift without any Javascript!! At first that sounded insane, but he suggested using anchors and :hover. This still sounded insane untill, while working on the previous test-case I remembered out that CSS3 has a sibling selector! So, z-index to the rescue, some fancy postioning, complex selector rules and I should be ready to go :)</p>
	<div class="viewport hoverParallax">
		<a id="angle1" href="#angle1">Angle 1</a>
		<a id="angle2" href="#angle2">Angle 2</a>
		<a id="angle3" href="#angle3">Angle 3</a>
		<a id="angle4" href="#angle4">Angle 4</a>
		<a id="angle5" href="#angle5">Angle 5</a>
		<a id="angle6" href="#angle6">Angle 6</a>
		<a id="angle7" href="#angle7">Angle 7</a>
		<a id="angle8" href="#angle8">Angle 8</a>
		<a id="angle9" href="#angle9">Angle 9</a>
		<a id="angle10" href="#angle10">Angle 10</a>
		<a id="angle11" href="#angle11">Angle 11</a>
		<a id="angle12" href="#angle12">Angle 12</a>
		<a id="angle13" href="#angle13">Angle 13</a>
		<a id="angle14" href="#angle14">Angle 14</a>
		<a id="angle15" href="#angle15">Angle 15</a>
		<a id="angle16" href="#angle16">Angle 16</a>
		<div class="canvas">
			<div class="layer layer1">Center</div>
			<div class="layer layer2">Background</div>
			<div class="layer layer_1">Foreground</div>
		</div>
	</div>

	<style type="text/css">
		.test3,
		.test6 {
			margin-right: -30% !important; /*little layout hack for posting...*/
		}
		.case1 {
			background: black;
			color: white;
			font-size: 100px;
			width: 2em;
			height: 2em;
			position: relative;
			float: left;
		}

		.case1 div {
			position: absolute;
		}

		.case1>div:first-child {
			width: 1em;
			height: 1em;
			top: 0.5em;
			left: 0.5em;
			background: rgba(255,0,0,0.5);
		}
		.case1>div:first-child+div {
			font-size: 75%;
			width: 1.34em;
			height: 1.34em;
			top: 0.67em;
			left: 0.67em;
			background: rgba(0,0,255,0.5);
		}

		.case1 span {
			font-size: 12px;
		}

		.case1.test2 {
			font-size: 75px;
		}

		.case1.test3 {
			font-size: 125px;
		}

		div + p {
			clear: both;
			padding-top: 1em;
		}
	</style>
		<style type="text/css">
		.case2 {
			background: black;
			color: white;
			font-size: 100px;
			width: 200px;
			height: 200px;
			position: relative;
			float: left;
		}

		.case2 div {
			position: absolute;
			width: 100px;
			height: 100px;
			top: 0.5em;
			left: 0.5em;
		}

		.case2>div:first-child {
			background: rgba(255,0,0,0.5);
		}
		.case2>div:first-child+div {
			font-size: 74%;
			margin: 13px 0 0 13px;
			background: rgba(0,0,255,0.5);
		}

		.case2 span {
			font-size: 12px;
		}

		.case2.test2 {
			font-size: 75px;
		}

		.case2.test3 {
			font-size: 125px;
		}
	</style>
		<style type="text/css">
			.case3 {
			background: black;
			color: white;
			font-size: 100px;
			width: 200px;
			height: 200px;
			position: relative;
			float: left;
			}
			.case3 > div {
				width: 100px;
				height: 100px;
				position: absolute;
				top: 50px;
				left: 100px;
				margin-left: -25%;
			background: rgba(255,0,0,0.5);
			}
			.case3 > div + div {
				left: 0;
				margin-left: 25%;
			background: rgba(0,0,255,0.5);
			}

		.case3 span {
			font-size: 12px;
		}

		.case3.test2 {
			width: 175px;
		}

		.case3.test3 {
			width: 225px;
		}
	</style>
		<style type="text/css">
			.case4 {
				width: 200px;
				height: 200px;
				position: relative;
				float: left;
				background: black;
				color: white;
				overflow: hidden;
				margin: 0 1em 1em 0;
			}

			.case4 .canvas {
				width: 1000px;
				height: 1000px;
				margin-top: -500px;
				margin-left: -500px;
				position: absolute;
				top: 100px;
				left: 100px;
			}

			.case4 > div > div {
				width: 100px;
				height: 100px;
				position: absolute;
				margin-top: -50px;
				margin-left: -50px;
				top: 50%;
				left: 50%;
				background: rgba(255,0,0,0.5);
				z-index: 100;
			}

			.case4 > div > div + div {
				top: 45%;
				left: 45%;
				margin-top: 0;
				margin-left: 0;
			background: rgba(0,0,255,0.5);
			z-index: 99;
			}

		.case4.test2 > .canvas,
		.case4.test6 > .canvas {
			width: 1500px;
			margin-left: -750px;
		}

		.case4.test3 > .canvas {
			width: 500px;
			margin-left: -250px;
		}

		.case4.test4 > .canvas,
		.case4.test6 > .canvas {
			height: 1500px;
			margin-top: -750px;
		}

		.case4.test5 > .canvas {
			height: 500px;
			margin-top: -250px;
		}

		</style>
		<style type="text/css">
			.hoverParallax {
				width: 600px;
				height: 200px;
				position: relative;
				background: black;
				color: white;
				overflow: hidden;
				margin: 1em auto;
			}

			.hoverParallax > a {
				position: absolute;
				top: 0;
				left: 0;
				right: 75%;
				bottom: 75%;
				text-indent: -100em;
				overflow: hidden;
				z-index: 1000;
			}
			.hoverParallax > a:hover {
				border: 1px solid rgba(0,255,0,0.15);
				background: rgba(0,255,0,0.10);
			}

			.hoverParallax > a:nth-of-type(4n+2) {
				left: 25%;
				right: 50%;
		}
			.hoverParallax > a:nth-of-type(4n+3) {
				left: 50%;
				right: 25%;
		}
			.hoverParallax > a:nth-of-type(4n+4) {
				left: 75%;
				right: 0%;
		}
			.hoverParallax > a:nth-of-type(1n+5) {
				top: 25%;
				bottom: 50%;
			}
			.hoverParallax > a:nth-of-type(1n+9) {
				top: 50%;
				bottom: 25%;
			}
			.hoverParallax > a:nth-of-type(1n+13) {
				top: 75%;
				bottom: 0;
			}

			.hoverParallax .canvas {
				width: 1000px;
				height: 1000px;
				margin-top: -500px;
				margin-left: -500px;
				position: absolute;
				top: 50%;
				left: 50%;
			-webkit-transition: all 1s ease-out;
			-moz-transition: all 1s ease-out;
			transition: all 1s ease-out;
			}

			.hoverParallax > a:hover ~ .canvas {
			width: 50px;
			margin-left: -25px;
			height: 500px;
			margin-top: -250px;
			}
			.hoverParallax > a:nth-of-type(4n+2):hover ~ .canvas {
			width: 750px;
			margin-left: -375px;
		}
			.hoverParallax > a:nth-of-type(4n+3):hover ~ .canvas {
			width: 1250px;
			margin-left: -625px;
		}
			.hoverParallax > a:nth-of-type(4n+4):hover ~ .canvas {
			width: 1950px;
			margin-left: -975px;
		}
			.hoverParallax > a:nth-of-type(1n+5):hover ~ .canvas {
			height: 750px;
			margin-top: -375px;
			}
			.hoverParallax > a:nth-of-type(1n+9):hover ~ .canvas {
			height: 1250px;
			margin-top: -625px;
			}
			.hoverParallax > a:nth-of-type(1n+13):hover ~ .canvas {
			height: 1950px;
			margin-top: -975px;
			}

			.hoverParallax .layer {
				width: 100px;
				height: 100px;
				position: absolute;
				margin-top: -50px;
				margin-left: -50px;
				top: 50%;
				left: 50%;
				background: rgba(255,0,0,0.5);
				z-index: 100;
			}

			.hoverParallax .layer2 {
				top: 45%;
				left: 45%;
				margin-top: 0;
				margin-left: 0;
			background: rgba(0,0,255,0.5);
			z-index: 99;
			}

			.hoverParallax .layer_1 {
				top: 55%;
				left: 55%;
				margin-top: -100px;
				margin-left: -100px;
			background: rgba(0,255,255,0.5);
			z-index: 101;
			}


		</style>
