---
title: CSS Multi-masking
description: An experiment using multiple image-masks to reveal parts of an image.
tags: [experiment, css, js]
date: 2012-06-08
---

<p class="intro">I've been dreaming about some D&D table-top <abbr title="Augmented Reality">AR</abbr> application. Since I'm not much of a mathematision, I don't stand much of a chance on the interpreting part, with some of the great strides in HTML5 and CSS3, I should stand more of a chance on the UI part though.</p>
<p>One critical part of my plan was map-revealing to the characters on the table. Such a 'revealing' technique is often described as 'masking'. In previous times I'm not sure how to implement this in html, but with modern-day CSS3 to the rescue, it might just get a hell of a lot easier...</p>
<p>While starting on the setup of this test-case I'm even coming up with more solutions. Absolute posititioning of the rooms and swapping the rooms from a pocket universe to the actual map could also resolve this in a quick and dirty way. For now I'm going to attempt CSS-masks first though, it gives us better <abbr title="Line of Sight">LOS</abbr> resolution.</p>
<h3>Setup</h3>
<p>To start of I'm providing a simple img tag containing some D&D map that I've drawn up years ago. It's an easy example map and allows me to start testing.</p>
<img src="/projects/cssrepository/multimasking/dungeonmap.png" alt="Dungeon Map" class="map" />
<h3>The basics</h3>
<p>Let's presume that other vendors will pickup the -webket-mask-*** syntax for setting up img-masks. I'm saying this in plural mostly because the syntax allows for multiple images, just like background-***. In the following example I've provided 4 different sets, although all using the same svg.</p>
<img src="/projects/cssrepository/multimasking/dungeonmap.png" alt="Dungeon Map" class="map masked" />
<figure>
	<img src="/projects/cssrepository/multimasking/dungeonmap.png" alt="Dungeon Map" class="map masked-alt" />
	<figcaption>Alternate masking method, no longer functional, left in for archival purposes.</figcaption>
</figure>
<p>All of this is rather streight-forward. Which leaves me with rotation of the mask. As I'm writing this up while not online, I will have to investigate this at a later date. Hopefully there's a simple property that allows me to rotate the masks. Wish I either had Internet right now, or otherwise a better memory that would've allowed me to investigate this properly myself!</p>
<h3>On to JavaScript</h3>
<p>Although I would have needed Javascript in the final solution I was researching this for, I am immediately going to move towards supporting it. Insofar I've been <a href="http://jsfiddle.net/vND2q/1/" rel="external">experimenting</a> on embedding a svg in a data url, which would allow me to rotate the picture, which would be required as I cannot do so using CSS.</p>
<img src="/projects/cssrepository/multimasking/dungeonmap.png" alt="Dungeon Map" class="map scripted" id="dmScripted" />
<p>Using the <a href="http://jsfiddle.net/vND2q/2/" rel="external">knowledge gained</a> from my jsfiddle experiments I would now like you to add numerous masks on your own using the following form.</p>
<form id="addTestMaskForm" onsubmit="return addMaskFromForm( this );" >
	<label for="testDMRotation" title="Rotation in degrees, number only!">Rotation<input type="text" value="90" id= "testDMRotation" /></label>
	<label for="testDMX" title="Horizontal offset, add measurement type (em, %, px, etc...)">X<input type="text" value="50%" id= "testDMX" /></label>
	<label for="testDMY" title="Vertical offset, add measurement type (em, %, px, etc...)">Y<input type="text" value="50%" id= "testDMY" /></label>
	<input type="submit" value="Add Mask" />
</form>

<style type="text/css">
	.map {
		max-width: 100%;
	}
	.masked {
		-webkit-mask-image: url(/projects/cssrepository/multimasking/LOSN.svg), url(/projects/cssrepository/multimasking/LOSN.svg), url(/projects/cssrepository/multimasking/LOSN.svg), url(/projects/cssrepository/multimasking/LOSN.svg);
		-webkit-mask-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
		-webkit-mask-size: 15em, 5em, 5em, 5em;
		-webkit-mask-position: 50% 50%, 0 0, 0 90%, 3em 90%;
	}
	.masked-alt {
		-webkit-mask: url(/projects/cssrepository/multimasking/LOSN.svg) no-repeat scroll 50% 50%, url(/projects/cssrepository/multimasking/LOSN.svg) no-repeat scroll 0 0, url(/projects/cssrepository/multimasking/LOSN.svg) no-repeat scroll 2em 2em;
		-webkit-mask-size: 15em, 5em, 5em;
	}
	.scriptedx {
		-webkit-mask: url(/projects/cssrepository/multimasking/LOSN.svg) no-repeat 50% 50%;
		-webkit-mask-size: 15em;
	}
</style>

<script>
	var Masker = (function() {

		var lis = document.getElementsByTagName("li");
		var losVG = "data:image/svg+xml;utf8,<svg xmlns:svg='http://www.w3.org/2000/svg' xmlns='http://www.w3.org/2000/svg' version='1.0' width='45.75' height='45.75' id='svg2'> <defs id='defs4' /> <g transform='%rotation%' id='layer1'> <g id='g3163'> <path d='M 23,0.5 C -7,0.5 -7,45.5 23,45.5 C 53,45.5 53,0.5 23,0.5 z' id='path2389' style='fill:#000000;fill-opacity:0.5;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /> <path d='M 22.625,22.625 L 2.8,13 C 11,-3 35.75,-3 42.95,13 L 22.625,22.625 z' id='path2828' style='fill:#000000;fill-opacity:1;fill-rule:evenodd;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1' /> </g> </g> </svg>";
		var rotationString = "rotate(n,22.625,22.625)";

		/**
		 * Gets a singular mask for use in the -webkit-mask css-property as a string.
		 * This mask does not include the size of the mask.
		 *
		 * @argument {int} rotation	The rotation, in degrees, of the mask.
		 * @argument {String} x		The offset-x of the mask as a string, must include measurement type (px, em, %)
		 * @argument {String} y		The offset-y of the mask as a string, must include measurement type (px, em, %)
		 */
		function getMask( m ) {

			var r = rotationString.replace( "n", m.rotation ),
				bg = m.shape.replace( "%rotation%", r );

			var o = "url(\"" + bg + "\")"
				  + " no-repeat "
				  + " " + m.x + " "
				  + " " + m.y + " ";

			return o;

		}

		function PublicInterface ( target ) {
			this.masks = [];
			this.target = target;
		}

		PublicInterface.prototype = {

			addMask: function( rotation, x, y, size, shape ) {
				var si = (typeof size !=="undefined")? size: "5em",
					sh = (typeof shape !=="undefined")? shape: losVG;

				this.masks.push( {
					rotation: rotation,
					x: x,
					y: y,
					size: si,
					shape: sh
				} );

			},

			draw: function (  ) {

				var maskStr = "",
					sizeStr = "";

				for ( var i = 0; i < this.masks.length; i++ ) {

					if ( maskStr.length > 0 ) {
						maskStr += ",";
						sizeStr += ",";
					}
					var m = this.masks[i]
					maskStr += getMask( m );
					sizeStr += m.size;

				}

				this.target.style.webkitMask = maskStr;
				this.target.style.webkitMaskSize = sizeStr;

			}
		}

		return PublicInterface;

	})();

	var dmTestMasker = new Masker( document.getElementById( "dmScripted" ) );
	dmTestMasker.addMask( 30, "5em", "5em" );
	dmTestMasker.draw();
	function addMaskFromForm( form ) {
		dmTestMasker.addMask( form.elements["testDMRotation"].value, form.elements["testDMX"].value, form.elements["testDMY"].value );
		window.setTimeout( function() { dmTestMasker.draw(); }, 10 ); //Weird rendering bug if these commands are called in the same thread.
		return false;
	}
</script>
