{% capture purl %}{% if post.metarefresh != nil %}{{ post.metarefresh }}{% else %}{{ site.url }}{{ post.url }}{% endif %}{%endcapture%}
{% capture pdesc %}{{ post.description }} {{ post.excerpt }}{%endcapture%}
<li class="media{% for tag in post.tags %} tag_{{tag}}{% endfor %}{% for cat in post.categories %} cat_{{cat}}{% endfor %} layout_{{post.layout}}">
    {% if post.tags.first == "nil" %}<img src="{{ site.url }}/thumbs/{{post.tags.first}}.png" alt="thumb" />{% endif %}
    <h3><a href="{{ purl }}">{{ post.title }}</a></h3>
    {% if post.date %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string }}</time>{% endif %}
    <p class="introduction">{{ pdesc | strip_html | truncate: 120 }}</p>
    <a href="{{ purl }}">More...</a>
</li>
