<div class="social">
    <! -- Tweet button -->
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="Currently reading: {{page.title}} by {{site.author}}" data-related="mreuring" data-hashtags="windgazer" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    <! -- Like button -->
    <div class="fb-like" data-href="{{site.url}}{{page.url}}" data-send="false" data-layout="button_count" data-width="48" data-show-faces="false"></div>

    <! -- +1 button -->
    <g:plusone size="medium" annotation="none"></g:plusone>
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
</div>
