<!DOCTYPE html>
<html>
    {% include head.html %}
<body class="{{ include.id }}{% for tag in page.tags %} tag_{{tag}}{% endfor %}{% for cat in page.categories %} cat_{{cat}}{% endfor %}{% if include.pinned != nill %} has_Pinned pinned_{{page.pinned}}{% endif %}">
    <section id="page">
        <header>
            <h1><a href="{{site.url}}/#home">Windgazer.nl</a></h1>
        </header>
        <main>
            <article id="{{ include.id }}">

                {{ include.content }}

            </article>
        </main>
        <aside id="mainNav">
            <nav>
                {% for page in site.data.navigation %}<li><a href="{{site.url}}{{page.url}}">{{page.title}}</a></li>
                {% endfor %}
            </nav>
            {% include social.html %}
            {% include touch.html %}
        </aside>
        <footer>
            <p>Websites even blind men can read <span>©{{site.author}}</span></p>
        </footer>
    </section>
{% if include.pinned != nill %}
    <figure class="pinned" id="{{include.pinned}}">
        <ol>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </figure>
    <a href="#{{ include.id }}" class="topLink">Top</a>
{% endif %}
</body>
</html>
