img.visual {
	float: right;
	border: 1px dotted silver;
	margin: 0 0 0 0.5em;
}
img.alt {
	float: left;
	margin: 0 0.5em 0 0;
}
p.visual {
	text-align: center;
}
h3 {
	clear: left;
}
code {
	display: block;
	margin: 0.5em;
	padding: 0.5em;
	border-width: 1px;
	border-style: dotted;
	white-space: pre;
}
.footnote {
	font-size: 90%;
	font-style: italic;
}