
%h__font--small {
    font-size: $b__font--small;
}

%h__font--large {
    font-size: $b__font--large;
}

%h__font--xlarge {
    font-size: $b__font--xlarge;
}

%h__font--display {
    font-size: $b__ratio * $b__font--xlarge;
}

%h__font__align--center {
    text-align: center;
}

%h__font__align--right {
    text-align: right;
}

%h__font--navigation {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}
