%h__positioning__fixed {
    position: fixed;
}

%h__positioning--top {
    @extend %h__positioning__fixed;
    top: 0;
}

%h__positioning--right {
    @extend %h__positioning__fixed;
    right: 0;
}

%h__positioning--bottom {
    @extend %h__positioning__fixed;
    bottom: 0;
}

%h__positioning--left {
    @extend %h__positioning__fixed;
    left: 0;
}

%h__positioning__fullwidth--bottom {
    @extend %h__positioning--bottom;
    @extend %h__positioning--right;
    @extend %h__positioning--left;
}

%h__positioning__fullwidth--top {
    @extend %h__positioning--top;
    @extend %h__positioning--right;
    @extend %h__positioning--left;
}
