%h__font__teen--light {
    font-family: teenlight;
    @at-root {
        @font-face {
            font-family: 'teenlight';
            src: url('/assets/teen/teen_lt-webfont.eot');
            src: url('/assets/teen/teen_lt-webfont.eot?#iefix') format('embedded-opentype'),
                 url('/assets/teen/teen_lt-webfont.woff2') format('woff2'),
                 url('/assets/teen/teen_lt-webfont.woff') format('woff'),
                 url('/assets/teen/teen_lt-webfont.ttf') format('truetype'),
                 url('/assets/teen/teen_lt-webfont.svg#teenlight') format('svg');
            font-weight: normal;
            font-style: normal;

        }
    }
}
