
%h__whitespace__padding--top {
    padding-top: $b__whitespace--sibling;
}

%h__whitespace__padding--right {
    padding-right: $b__whitespace--sibling;
}

%h__whitespace__padding--bottom {
    padding-bottom: $b__whitespace--sibling;
}

%h__whitespace__padding--left {
    padding-left: $b__whitespace--sibling;
}

%h__whitespace__block-padding {
    @extend %h__whitespace__padding--top;
    @extend %h__whitespace__padding--right;
    @extend %h__whitespace__padding--bottom;
    @extend %h__whitespace__padding--left;
}

%h__whitespace__margin--top {
    margin-top: $b__whitespace--sibling;
}

%h__whitespace__margin--right {
    margin-right: $b__whitespace--sibling;
}

%h__whitespace__margin--bottom {
    margin-bottom: $b__whitespace--sibling;
}

%h__whitespace__margin--left {
    margin-left: $b__whitespace--sibling;
}

%h__whitespace__block-margin {
    @extend %h__whitespace__margin--top;
    @extend %h__whitespace__margin--right;
    @extend %h__whitespace__margin--bottom;
    @extend %h__whitespace__margin--left;
}
